html{font-family: 'Nanum Myeongjo', serif;overscroll-behavior-y: none;color: #b0b088;background: radial-gradient(#132332,#00040F);}
h1{font-size: 100px;font-family: 'Allura', cursive;line-height: 100px;margin: 0;}
h2{font-size: 30px;line-height: 30px;margin: 0;}
.noise {--src: 0;position: fixed;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;z-index: 2;}
.noise:after {position: absolute;top: -10rem;left: -10rem;-webkit-animation: noise 1s steps(2) infinite;animation: noise 1s steps(2) infinite;background-image: url(/noise.png);background-position: 50%;width: calc(100% + 20rem);height: calc(100% + 20rem);content: "";}
.webgl-wrapper,.content-wrapper{position: fixed;left: 0;top: 0;width: 100%;height: 100vh;z-index: 3;opacity: 1;transform: scale(1);}
.content-wrapper{cursor: pointer;
  z-index: 1;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;will-change: transform;
  background: radial-gradient(#0e5515,#011f09);background-image: url(/sfondo.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;
}
.content-wrapper .greetings-title{margin-bottom: 20px;margin-top: 80px;}
.content-wrapper .greetings-title svg{overflow: visible;}
.content-wrapper h2{margin-bottom: 50px;}
.content-wrapper h3{margin-bottom: 0px;padding: 13px 20px;border: 2px solid #b0b088;border-radius: 13px;}
.greetings{display: flex;align-items: center;justify-content: flex-end;flex-direction: column;}
.decoration{position: absolute;left: 50%;transform: translateX(-50%);bottom: -20vw;width: 110vw;height: auto;pointer-events: none;}
.decoration img{width: 100%;height: auto;display: block;}
.santaclaus{position: absolute;right: 0vw;top: -1vw;width: 23vw;height: auto;}
.santaclaus img{width: 100%;height: auto;display: block;}
.distortion{position: absolute;z-index: 10;width: 100%;height: 100%;left: 0;top: 0;opacity: 0;pointer-events: none;}
.distortion::after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-image: url(/frame.jpeg);background-repeat: no-repeat;background-size: cover;opacity: 0.4;}
svg path{transform-origin: center center;}
.webgl-wrapper{opacity: 0;pointer-events: none;filter: blur(30px);cursor:pointer;}
.snowFlakeSvg{display: none;}
.loader{position: fixed;width: 100vw;height: 100vh;display: block;left: 0;top: 0;z-index: 9999;background: radial-gradient(#132332,#00040F);pointer-events: none;}
.to{
    padding: 15px 25px;background: radial-gradient(#132332 50%,#00040F);position: fixed;z-index: 999999;bottom: 2vw;right: 2vw;display: flex;cursor: pointer;border-radius: 10px;border: 1px solid #b0b088;
    box-shadow: 3px 4px 3px #05050551;transition:all 0.3s ease;opacity: 0;z-index: -999;
}
.to:hover{opacity: 0.7;}
.to a{display: flex;width: 100%;height: 100%;align-items: center;justify-content: center;color: #b0b088;text-decoration: none;text-transform: uppercase;}

@-webkit-keyframes noise {
  0% {
      -webkit-transform: translate3d(0,9rem,0);
      transform: translate3d(0,9rem,0)
  }

  10% {
      -webkit-transform: translate3d(-1rem,-4rem,0);
      transform: translate3d(-1rem,-4rem,0)
  }

  20% {
      -webkit-transform: translate3d(-8rem,2rem,0);
      transform: translate3d(-8rem,2rem,0)
  }

  30% {
      -webkit-transform: translate3d(9rem,-9rem,0);
      transform: translate3d(9rem,-9rem,0)
  }

  40% {
      -webkit-transform: translate3d(-2rem,7rem,0);
      transform: translate3d(-2rem,7rem,0)
  }

  50% {
      -webkit-transform: translate3d(-9rem,-4rem,0);
      transform: translate3d(-9rem,-4rem,0)
  }

  60% {
      -webkit-transform: translate3d(2rem,6rem,0);
      transform: translate3d(2rem,6rem,0)
  }

  70% {
      -webkit-transform: translate3d(7rem,-8rem,0);
      transform: translate3d(7rem,-8rem,0)
  }

  80% {
      -webkit-transform: translate3d(-9rem,1rem,0);
      transform: translate3d(-9rem,1rem,0)
  }

  90% {
      -webkit-transform: translate3d(6rem,-5rem,0);
      transform: translate3d(6rem,-5rem,0)
  }

  to {
      -webkit-transform: translate3d(-7rem,0,0);
      transform: translate3d(-7rem,0,0)
  }
}

@keyframes noise {
  0% {
      -webkit-transform: translate3d(0,9rem,0);
      transform: translate3d(0,9rem,0)
  }

  10% {
      -webkit-transform: translate3d(-1rem,-4rem,0);
      transform: translate3d(-1rem,-4rem,0)
  }

  20% {
      -webkit-transform: translate3d(-8rem,2rem,0);
      transform: translate3d(-8rem,2rem,0)
  }

  30% {
      -webkit-transform: translate3d(9rem,-9rem,0);
      transform: translate3d(9rem,-9rem,0)
  }

  40% {
      -webkit-transform: translate3d(-2rem,7rem,0);
      transform: translate3d(-2rem,7rem,0)
  }

  50% {
      -webkit-transform: translate3d(-9rem,-4rem,0);
      transform: translate3d(-9rem,-4rem,0)
  }

  60% {
      -webkit-transform: translate3d(2rem,6rem,0);
      transform: translate3d(2rem,6rem,0)
  }

  70% {
      -webkit-transform: translate3d(7rem,-8rem,0);
      transform: translate3d(7rem,-8rem,0)
  }

  80% {
      -webkit-transform: translate3d(-9rem,1rem,0);
      transform: translate3d(-9rem,1rem,0)
  }

  90% {
      -webkit-transform: translate3d(6rem,-5rem,0);
      transform: translate3d(6rem,-5rem,0)
  }

  to {
      -webkit-transform: translate3d(-7rem,0,0);
      transform: translate3d(-7rem,0,0)
  }
}


@media screen and (max-width:700px){

}