html,*{font-family: 'Festive', cursive;}
.container{
  width: 100vw;height: 100vh;background: radial-gradient(#e66465, #830808);display: flex;align-items: center;justify-content: center;
}
h1{font-size: 130px;line-height: 140px;color: #fff;margin: 0;}
h2{font-size: 60;color: #fff;margin: 0;text-align: center;}